In [99]:
import pandas as pd

csv_file = '2021-06.csv'

df = pd.read_csv(csv_file)
df

   day         time   client
0    1  09:00-11:00    ecorp
1    1  12:00-18:00  allsafe
2    2  10:00-19:30  allsafe
3    3  11:30-17:00    ecorp

In [100]:
df['date'] = csv_file[:-len('.csv')]
df

   day         time   client     date
0    1  09:00-11:00    ecorp  2021-06
1    1  12:00-18:00  allsafe  2021-06
2    2  10:00-19:30  allsafe  2021-06
3    3  11:30-17:00    ecorp  2021-06

In [101]:
times = df['time'].str.split('-', expand=True)
times.columns = ['start', 'end']
times

   start    end
0  09:00  11:00
1  12:00  18:00
2  10:00  19:30
3  11:30  17:00

In [102]:
df = pd.concat([df, times], axis=1)
df

   day         time   client     date  start    end
0    1  09:00-11:00    ecorp  2021-06  09:00  11:00
1    1  12:00-18:00  allsafe  2021-06  12:00  18:00
2    2  10:00-19:30  allsafe  2021-06  10:00  19:30
3    3  11:30-17:00    ecorp  2021-06  11:30  17:00

In [103]:
# his version did not work; I wrote mine:
df['start'] = pd.to_datetime(
  df.apply(lambda x: x['date'] + 'T' + x['start'],axis=1))
df['end'] = pd.to_datetime(
  df.apply(lambda x: x['date'] + 'T' + x['end'],axis=1))
df

   day         time   client     date               start                 end
0    1  09:00-11:00    ecorp  2021-06 2021-06-01 09:00:00 2021-06-01 11:00:00
1    1  12:00-18:00  allsafe  2021-06 2021-06-01 12:00:00 2021-06-01 18:00:00
2    2  10:00-19:30  allsafe  2021-06 2021-06-01 10:00:00 2021-06-01 19:30:00
3    3  11:30-17:00    ecorp  2021-06 2021-06-01 11:30:00 2021-06-01 17:00:00

In [104]:
(df['end'] - df['start']).sum()

Timedelta('0 days 23:00:00')